.windowImage{
  display: none;
  opacity: 0;
  width: 80%;
  height: 100%;
  position: fixed;
  top:0;left:50%;
  margin-left: -40%;
  z-index: 9998;
  background: #000;
}
.windowImage span{
  display: block;
  width:50px;
  height:50px;
  border-radius: 25px;
  background: white;
  z-index: 9999;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right:10px;
  top:10px;
}
.windowImage div img{
  display: inline-block;
  width: 50%;
  margin: 0 auto;
}